<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c8e96f41-c541-498e-be8a-f70eb0d1a104/resourceGroups/quiz-web-app-resource/providers/Microsoft.Web/sites/quiz-app-web-app</ResourceId>
    <ResourceGroup>quiz-web-app-resource</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://quiz-app-web-app-czbhhfe9fsb6c0b5.westus3-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>58915ea0-e7e3-4e65-b414-60c5e6c182d6</ProjectGuid>
    <PublishUrl>https://quiz-app-web-app-czbhhfe9fsb6c0b5.scm.westus3-01.azurewebsites.net/</PublishUrl>
    <UserName>$quiz-app-web-app</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>