.loader-container {
    /* background-image: linear-gradient(45deg, var(--contentBackColor), var(--contentBackColorGradient)); */
}

.loader-content {
    padding: 20px;

    opacity: 0;
    animation: fadeIn 0.2s ease-out forwards;
}

.loader-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4px); /* optional subtle lift */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.loader-message{
    font-size: 15px;
    text-align:center;
}

@media (min-width: 768px) and (max-width: 885px) {
    .loader-message-shrink-text {
        font-size: 12px;
        padding-left: 6px;
        padding-right: 6px;
        
    }
}


@media (max-width: 580px) {
    .loader-message-shrink-text {
        font-size: 11px;
        padding-left: 3px;
        padding-right: 3px;
        
    }
}
