#strengthMeter {
    height: 10px;
    width: 100%;
    background-color: lightgray;
    margin-top: 5px;
}

.strength-level {
    height: 100%;
}


.strength-meter-row{
    height: 120px;
}

#strengthText{
    font-size: 14px;
}