/* Password toggle styles*/

.password-container {
    position: relative;
    display: inline-block;
    
}

.password-container-width {
   
   width:100%;
}

.password-input-wrapper{
    max-width:350px;
}

.toggle-button {
    border: none;
    background: none;
    color: var(--contentTextColor);
}

.password-icon {
    fill: var(--passwordIconColor);
}

.password-icon-margin {
    position: relative;
    top: 5px;
}



.password-icon-size {
    width: 25px;
    height: 25px;
}

@media (max-width: 700px) {
    .password-icon-size {
        width: 28px;
        height: 28px;
    }
}


/* End Password Styles Section*/
