:root{
    --widgetItemContentBackgroundColor: color-mix(in srgb, var(--contentBackColor), var(--colorMix) 4%);
    --widgetItemContentBackgroundColorGradient: color-mix(in srgb, var(--contentBackColorGradient), var(--colorMix) 11%);
    --widgetItemContentBorderColor: color-mix(in srgb, var(--itemContentBackgroundColor), var(--colorMix) 8%);
}

.widget-container {

    border-radius: 12px;
    padding: 16px;
    text-align: center;

    background-image: linear-gradient(45deg, var(--widgetItemContentBackgroundColor), var(--widgetItemContentBackgroundColorGradient));
    border: 1px solid var(--widgetItemContentBorderColor);
    box-shadow: 0 1px 3px var(--buttonDropShadow),
        0 0 0 1px rgba(0, 0, 0, 0.06);
}

.widget-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.widget-text {
    color: var(--contentTextColor);
    margin: 0;
}

.widget-text-bold{
    font-weight: 500;
}

/* iOS */
@supports (-webkit-touch-callout: none) {
    .widget-container {
        min-height: 100px;
    }
}

/* Android Chrome (touch devices only) */
@media (pointer: coarse) {
    @supports not (-webkit-touch-callout: none) {
        .widget-container {
            min-height: 100px;
        }
    }
}

@media (min-width: 768px) {
    .widget-container{
        height: 250px;
    }
}

@media (max-width: 767.99px) {
    .widget-container{
        min-height: 150px;
    }
}
